:root {
  --fon1: "Ubuntu";
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  padding: 0 167px;
}

header {
  background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  overflow: hidden;
  border-radius: 0px 0px 0px 100px;
  height: 600px;
}
.header {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding-top: 4.5rem;
}

.header__nav {
  display: flex;
}
.rectangle1 {
  top: -1320px;
  position: absolute;
  right: -81rem;
}

.nav-link__logo {
  align-items: center;
  display: flex;
  gap: 4rem;
}
.nav .nav__item {
  display: flex;
  gap: 2rem;
}

.img__logo {
  width: 101px;
  height: 40px;
}

li {
  list-style-type: none;
}

.list__show {
  color: white;
  opacity: 0.75;
  font-family: var(--fon1);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.list__show:hover {
  text-decoration: underline;
  opacity: 100;
}
.arrow .icon-row {
  position: relative;
  left: 0.5px;
  transform: rotate(180deg);
}
a {
  text-decoration: none;
}

.list {
  position: relative;
}

.show {
  display: block;
}

.list__show--productos {
  color: white;
}
.btn__row {
  background-color: transparent;
  border: none;
}
.ul__list {
  position: absolute;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.24);
  display: flex;
  padding: 0 24px;
  left: auto;
  flex-direction: column;
  gap: 1rem;
  border-left: 2px;
  margin-top: 2rem;
  left: -1rem;
  animation-duration: 1000ms;
  transition: heigth 0.4s;
  height: 0px;
  transition: transform 0.3s;
}

.mostrar {
  display: block;
}
.list .ul__list li {
  color: #2d2e40;
  font-weight: 400;
  cursor: pointer;
}
.list .ul__list li:hover {
  font-weight: 700;
}

.menu {
  background-color: transparent;
  border: transparent;
  display: none;
}
.nadvar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 63px;
}

.login {
  font-family: var(--fon1);
  text-align: right;
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 2;
}

.tx__login {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.75;
}
.link_login {
  text-decoration: none;
}
.btn__login {
  color: #ff505c;
  font-size: 16px;
  font-weight: 700;
  border-radius: 28px;
  background: #fff;
  width: 137px;
  height: 48px;
  border: none;
  cursor: pointer;
}

.btn__login:hover {
  border-radius: 28px;
  background: #ff7b86;
  color: #fff;
}

.nadvar {
  margin: auto;
}

@media (max-width: 1084px) {
  .picture__header {
    z-index: 3;
    right: 0;
    left: 0;
  }
  .header__nav {
    justify-content: space-between;
    gap: 0;
  }
  .container {
    padding: 0 24px;
  }
  .nav {
    display: none;
  }
  .login {
    display: none;
  }

  .menu {
    display: block;
    z-index: 2;
    position: relative;
  }
  .open {
    position: absolute;
    right: 0;
    top: -0.5rem;
  }
  .nav .nav__item {
    flex-direction: column;
    margin-top: 40px;
  }
  .close {
    display: none;
  }
  .img__logo {
    z-index: 2;
    height: 32px;
  }
  .list a {
    color: red;
    z-index: 9999;
  }
  .nav.open {
    top: 10rem;
    display: block;
    color: #ff3e55;
  }
  .nav {
    left: 0;
    width: 324px;
    margin: auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.24);
    height: 511px;
  }
  .nav__item .list {
    color: #1f3e5a;
    text-align: center;
    font-family: "Overpass SemiBold";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    z-index: 2;
  }
  .nav .nav__item li a {
    color: #1f3e5a;
  }
}

@media (max-width: 700px) {
  .rectangle1 {
    left: -95%;
    width: 360%;
    top: -255px;
    right: 0;
  }

  .logo {
    height: 32px;
  }
  .menu {
    position: relative;
  }
  .open {
    position: absolute;
    right: 0;
    top: -0.5rem;
  }
  .close {
    display: none;
  }
  .nav {
    transition: 0.3s;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.24);
  }
}
