* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  padding: 0 167px;
}
header {
  position: relative;
  width: 100vw;
  border-radius: 0px 0px 0px 100px;
  background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  height: 600px;
  overflow: hidden;
}

.header__nav {
  margin-top: 63px;
}
.rectangle1 {
  top: -1395px;
  position: absolute;
  right: -80rem;
}
main {
}
