.nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}
.nav__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav__logo {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.333px;
  text-decoration: none;
}
.nav__social {
  display: flex;
  gap: 1.5rem;
  z-index: 2;
}
.nav__social-icon {
  height: 20px;
}
@media (min-width: 768px) {
  .nav__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header {
  position: relative;
  bottom: 7rem;
}
.header::before {
  content: "";
  position: absolute;
  background-image: url("../assets/pattern-rings.svg");
  top: 8rem;
  left: -98%;
  right: 0;
  height: 60%;
  background-repeat: no-repeat;
}
.header__profile-photo {
  width: 50%;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  filter: contrast(80%) brightness(120%);
}
.header::after {
  content: "";
  position: absolute;
  background-image: url("../assets/pattern-circle.svg");
  top: 17.7rem;
  left: 85%;
  right: 0;
  height: 60%;
  background-repeat: no-repeat;
}
.header__profile-info {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;
  text-align: center;
}
.header__profile-name {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.136px;
}
.header .text-mobile {
  display: block;
}
.header .text-tablet {
  display: none;
}
.header__profile-title {
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 1.5rem;
}
.header__profile-contact {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .header__profile {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: 2rem;
    position: relative;
  }
  .header__profile-photo {
    width: 349.854px;
    max-width: 100%;
    position: relative;
    left: 2rem;
    bottom: 1.1rem;
    z-index: 1;
  }
  .header::after {
    top: 28.3rem;
    left: 90%;
  }
  .header__profile-info {
    text-align: left;
    position: absolute;
    top: 90px;
    z-index: 3;
    right: 2.5em;
  }
  .header__profile-name {
    font-size: 72px;
    text-align: left;
    line-height: 78px;
    letter-spacing: -2.045px;
  }
  .header .text-mobile {
    display: none;
  }
  .header .text-tablet {
    display: block;
  }
  .header .nowrap {
    white-space: nowrap;
  }
  .header__profile-title {
    margin-top: 60px;
  }
  .header__profile-contact {
    margin-top: 34px;
  }
}

.subra {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
}

:root {
  --black: #151515;
  --green: #4ee1a0;
  --dark-grey: #242424;
  --grey: #d9d9d9;
  --white: #fff;
  --font: "Space Grotesk", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: var(--black);
}

.main {
  position: relative;
  bottom: 5rem;
}
.main::after {
  content: "";
  position: absolute;
  background-image: url("../assets/pattern-rings.svg");
  top: 33.8rem;
  left: 50%;
  right: 0;
  height: 70%;
  background-repeat: no-repeat;
}

.skills {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;
  border-top: 2px solid white;
  text-align: center;
  color: var(--white);
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.skills__title {
  font-size: 32px;
}
.skills__years {
  color: var(--grey);
  font-weight: 500;
  line-height: 26px;
}

.subrayado {
  position: relative;
  display: inline-block;
}
.subrayado::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1em;
  width: 100%;
  height: 0.25rem;
  background-color: var(--green);
  z-index: 1;
  border-radius: 2px;
}
@media (min-width: 768px) {
  .subrayado::after {
    height: 6px;
    top: 1.02em;
  }
}

.projects {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;
}
.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--white);
}
.projects__title {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.136px;
}
.projects__contact-btn {
  color: var(--white);
  line-height: 26px;
  letter-spacing: 2.286px;
  text-decoration: none;
  cursor: pointer;
}
.projects__list {
  margin-top: 41px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 40px;
  grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
}
.projects__image {
  width: 100%;
}
.projects__name {
  color: var(--white);
  font-feature-settings: "liga" off, "clig" off;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 20px;
}
.projects__tech {
  color: var(--grey);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.projects__links {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}
.projects__link {
  color: white;
  text-decoration: none;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.contact {
  background: var(--dark-grey);
  margin-top: 60px;
  position: relative;
  padding-bottom: 47px;
}
.contact__datos {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;
  padding-top: 60px;
}
.contact__text-contacto {
  text-align: center;
}
.contact__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.136px;
}
.contact__description {
  margin-top: 20px;
  color: var(--grey);
  font-weight: 500;
  line-height: 26px;
}
.contact__form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #666;
  padding: 0.8rem 0;
  color: #fff;
  font-size: 1rem;
  outline: none;
}
.contact__input::placeholder {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.222px;
  opacity: 0.5;
}
.contact__input--textarea {
  resize: none;
  height: 100px;
}
.contact__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  color: var(--white);
  font-weight: 700;
  background: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 1rem 0 0.3rem;
  cursor: pointer;
  align-self: flex-end;
}
.contact::after {
  content: "";
  position: absolute;
  background-image: url("../assets/pattern-rings.svg");
  transform: rotate(180deg);
  top: 10.7rem;
  left: 0%;
  right: 55%;
  height: 60%;
  background-repeat: no-repeat;
}

.footer {
  background: var(--dark-grey);
}
.footer__redes {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;
  border-top: 1px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__social {
  display: inline-flex;
  gap: 1.8rem;
}
.footer__brand {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.333px;
}
.footer__link img {
  width: 20px;
}

/*# sourceMappingURL=index.css.map */
