.nav {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}
.nav__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav__logo {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.333px;
  text-decoration: none;
}
.nav__social {
  display: flex;
  gap: 1.5rem;
  z-index: 2;
}
.nav__social-icon {
  height: 20px;
}
@media (min-width: 768px) {
  .nav__container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1080.49px;
  }
  .nav__logo {
    font-size: 32px;
  }
}

.header {
  position: relative;
  bottom: 7rem;
}
.header::before {
  content: "";
  position: absolute;
  background-image: url("../assets/pattern-rings.svg");
  top: -24%;
  left: 0%;
  right: 55%;
  height: 60%;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.header__profile-photo {
  width: 50%;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  filter: contrast(80%) brightness(120%);
}
.header::after {
  content: "";
  position: absolute;
  background-image: url("../assets/pattern-circle.svg");
  top: 17.7rem;
  left: 85%;
  right: 0;
  height: 60%;
  background-repeat: no-repeat;
}
.header__profile-info {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;
  text-align: center;
}
.header__profile-name {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.136px;
}
.header .text-mobile {
  display: block;
}
.header .text-tablet {
  display: none;
}
.header__profile-title {
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 1.5rem;
}
.header__profile-contact {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .header::before {
    right: 65%;
  }
  .header__profile {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: 2rem;
    position: relative;
  }
  .header__profile-photo {
    width: 349.854px;
    max-width: 91%;
    position: relative;
    left: 1.1rem;
    bottom: 0rem;
    top: 0.5rem;
    z-index: 1;
  }
  .header::after {
    top: 29.3rem;
    left: 90%;
    z-index: 4;
  }
  .header__profile-info {
    text-align: left;
    position: absolute;
    top: 105px;
    z-index: 3;
    right: 2.5em;
  }
  .header__profile-name {
    font-size: 72px;
    text-align: left;
    line-height: 78px;
    letter-spacing: -2.045px;
  }
  .header__profile-title {
    width: 450px;
    line-height: 28px;
    font-size: 18px;
  }
  .header .text-mobile {
    display: none;
  }
  .header .text-laptop {
    display: none;
  }
  .header .nowrap {
    white-space: nowrap;
  }
  .header__profile-title {
    margin-top: 60px;
  }
  .header__profile-contact {
    margin-top: 34px;
  }
}

.subra {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
}

@media (min-width: 1110px) {
  .header::before {
    right: 70%;
    top: -11.7rem;
  }
  .header__profile-name {
    font-size: 88px;
  }
  .header__profile {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
    right: 3rem;
    max-width: 1180px;
    width: 100%;
    bottom: 1rem;
  }
  .header__profile-photo {
    width: 445px;
    max-width: 100%;
  }
  .header__profile-info {
    margin-top: 6.5rem;
  }
  .header::after {
    top: 35.3rem;
    left: 53.5%;
  }
  .header__profile-contact {
    margin-top: 70px;
  }
}
:root {
  --black: #151515;
  --green: #4ee1a0;
  --dark-grey: #242424;
  --grey: #d9d9d9;
  --white: #fff;
  --font: "Space Grotesk", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: var(--black);
}

.contact {
  background: var(--dark-grey);
  margin-top: 60px;
  position: relative;
  padding-bottom: 47px;
}
@media (min-width: 768px) {
  .contact {
    margin-top: 0;
  }
}
.contact__datos {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;
  padding-top: 60px;
}
@media (min-width: 768px) {
  .contact__datos {
    width: 445px;
  }
  .contact__description {
    font-size: 18px;
  }
}
.contact__text-contacto {
  text-align: center;
}
.contact__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.136px;
}
.contact__description {
  margin-top: 20px;
  color: var(--grey);
  font-weight: 500;
  line-height: 26px;
}
.contact__form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #666;
  padding: 0.8rem 0;
  color: #fff;
  font-size: 1rem;
  outline: none;
}
.contact__input::placeholder {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.222px;
  opacity: 0.5;
}
.contact__input--textarea {
  resize: none;
  height: 100px;
}
.contact__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  color: var(--white);
  font-weight: 700;
  background: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 1rem 0 0.3rem;
  cursor: pointer;
  align-self: flex-end;
}
.contact::after {
  content: "";
  position: absolute;
  background-image: url("../assets/pattern-rings.svg");
  transform: rotate(180deg);
  top: 10.7rem;
  left: 0%;
  right: 55%;
  height: 60%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .contact::after {
    right: 79%;
    top: 14.7rem;
  }
}

.main {
  position: relative;
  bottom: 5rem;
}
.main::after {
  content: "";
  position: absolute;
  background-image: url("../assets/pattern-rings.svg");
  top: 33.8rem;
  left: 50%;
  right: 0;
  height: 70%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .main::after {
    top: 23rem;
    left: 76%;
  }
}

.skills {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;
  border-top: 2px solid white;
  text-align: center;
  color: var(--white);
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.skills__title {
  font-size: 32px;
}
.skills__years {
  color: var(--grey);
  font-weight: 500;
  line-height: 26px;
}

.projects {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;
}
@media (min-width: 768px) {
  .projects {
    padding: 0 0px;
  }
}
.projects__image {
  width: 100%;
}
.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--white);
}
.projects__title {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.136px;
}
.projects__contact-btn {
  color: var(--white);
  line-height: 26px;
  letter-spacing: 2.286px;
  text-decoration: none;
  cursor: pointer;
}
.projects__list {
  margin-top: 41px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 40px;
  grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
}
@media (min-width: 768px) {
  .projects__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.projects__name {
  color: var(--white);
  font-feature-settings: "liga" off, "clig" off;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 20px;
}
.projects__tech {
  color: var(--grey);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.projects__links {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}
.projects__link {
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .skills {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
    border-top: 1px solid white;
    border-bottom: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin-top: 30px;
  }
  .skills__title {
    margin-top: 1rem;
    font-size: 3rem;
  }
  .skills__years {
    font-size: 18px;
    margin-top: 14px;
  }
}
.subrayado {
  position: relative;
  display: inline-block;
}
.subrayado::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1em;
  width: 100%;
  height: 0.25rem;
  background-color: var(--green);
  z-index: 1;
  border-radius: 2px;
}
.subrayado .item1 {
  grid-area: item1;
}
.subrayado .item2 {
  grid-area: item2;
}
.subrayado .item3 {
  grid-area: item3;
}
.subrayado .item4 {
  grid-area: item4;
}
.subrayado .item5 {
  grid-area: item5;
}
.subrayado .item6 {
  grid-area: item6;
}
@media (min-width: 768px) {
  .subrayado::after {
    height: 6px;
    top: 1.02em;
  }
  .subrayado .skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .subrayado .skills__sk1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}

.footer {
  background: var(--dark-grey);
}
.footer__redes {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;
  border-top: 1px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .footer__redes {
    justify-content: space-between;
    flex-direction: row;
  }
}
.footer__social {
  display: inline-flex;
  gap: 1.8rem;
}
.footer__brand {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.333px;
}
.footer__link img {
  width: 20px;
}

/*# sourceMappingURL=index.css.map */
