* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080c20;
  position: relative;
  font-family: Manrope;
}
body::before {
  content: "";
  background-image: url("./assets/illustration-hero-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 204px;
  height: 231px;
  position: absolute;
  left: 0;
  top: 142px;
}
body::after {
  content: "";
  background-image: url("./assets/illustration-hero-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 207px;
  height: 231px;
  position: absolute;
  right: -36px;
  top: 142px;
}
.container {
  width: 100%;
  margin-top: 40px;
}
.logo {
  text-align: center;
}

/*header*/

.article {
  text-align: center;
}
picture img {
  display: none;
}
h1 {
  margin-top: 23.625rem;
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  min-width: 327px;
  padding: 0 4rem;
}

h1 span {
  color: #3ee9e5;
}

.paragraph {
  color: #777f98;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 23px;
  padding: 0 2rem;
  font-style: normal;
}
figure .scroll {
  margin-top: 32px;
}

/*main*/
main {
  margin-top: 9rem;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  margin-top: 2rem;
}

.pa {
  margin-top: 11px;
}

.main__card {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.plans {
  margin-top: 9rem;
}

.cards {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: center;
}
.card {
  width: 327px;
  border-radius: 8px;
  text-align: left;
  padding: 0 29px;
}
.card__free {
  background: #093f68;

  padding-top: 24px;
  position: relative;
}

.card__free::before {
  content: "";
  background-image: url("./assets/icon-free.svg");
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0;
  transform: translateY(-1.5rem);
}

.card__dive {
  background: #3ee9e5;
  padding-top: 61px;
  position: relative;
}

.card__dive::before {
  content: "";
  background-image: url("./assets/icon-paid.svg");
  width: 51px;
  height: 65px;
  position: absolute;
  top: 0;
  transform: translateY(-1.5rem);
}
.title__card-drive {
  color: #080c20;
  text-align: left;
}

.text__cards {
  color: #fff;
  opacity: 0.5973;
  text-align: left;
  margin-top: 19px;
}

@media (min-width: 768px) {
  .logo {
    text-align: left;
  }

  body::before {
    top: 145px;
    left: -10.4rem;
    width: 40vw;
    height: 60vh;
  }

  body::after {
    top: 145px;
    right: -19px;
    width: 40vw;
    height: 54vh;
    max-width: 160px;
    background-size: cover;
  }
  .container {
    padding: 0 2.438rem;
  }
  header {
    max-width: 457px;
    margin: auto;
    padding-top: 8px;
    position: relative;
  }

  picture {
    position: absolute;
    top: 8.8rem;
    left: 2rem;
  }
  picture img {
    display: block;
    width: 386.002px;
    height: 268px;
  }
  header h1 {
    font-size: 32px;
    margin-top: 9rem;
  }

  .article .paragraph {
    margin-top: 2rem;
    width: 455px;
  }
  .pah {
    padding: 0;
  }

  /*main*/

  main {
    max-width: 768px;
  }
}

@media (min-width: 1110px) {
  .container {
    max-width: 1440px;
    margin: auto;
    padding-top: 48px;
  }
}

/* 
  Cuando se envíe el formulario se debe hacer lo siguiente:
  1) Si el campo está vacio se debe mostrar el siguiente mensaje: Oops! Please add your email
  2) Si el email es invalido se debe mostrar el siguiente mensaje: Oops! That doesn’t look like an email address
  3) Si el enail es valido se debe limpiar el campo 
*/
