* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080c20;
  position: relative;
}
body::before {
  content: "";
  background-image: url("./assets/illustration-hero-left.svg");
  background-size: contain;
  width: 204px;
  height: 231px;
  position: absolute;
  left: 0;
  top: 142px;
}
body::after {
  content: "";
  background-image: url("./assets/illustration-hero-right.svg");
  background-size: contain;
  width: 207px;
  height: 231px;
  position: absolute;
  right: -36px;
  top: 142px;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin-top: 40px;
}
.logo {
  text-align: center;
}
h1 {
  margin-top: 23.625rem;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  min-width: 327px;
  padding: 0 4rem;
}

h1 span {
  color: #3ee9e5;
}
@media (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    text-align: left;
  }

  body::before {
    top: 120px;
    background-size: cover;
    left: -11.9rem;
    width: 46vw;
    height: 62vh;
  }

  body::after {
    top: 128px;
    background-size: cover;
    right: 0;
    width: 21vw;
    height: 62vh;
    max-width: 160px;
  }
  .container {
    padding: 0 2.438rem;
  }
  header {
    max-width: 457px;
    margin: auto;
  }
  header h1 {
    font-size: 32px;
    margin-top: 9rem;
  }
}

@media (min-width: 1110px) {
  .container {
    max-width: 1440px;
    margin: auto;
    padding-top: 48px;
  }
}

/* 
  Cuando se envíe el formulario se debe hacer lo siguiente:
  1) Si el campo está vacio se debe mostrar el siguiente mensaje: Oops! Please add your email
  2) Si el email es invalido se debe mostrar el siguiente mensaje: Oops! That doesn’t look like an email address
  3) Si el enail es valido se debe limpiar el campo 
*/
