:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* MODO OSCURO */
body.dark {
  background: #1d1f29;
}

/*MODO CLARO */
body.light {
  background: #fff;
}

.navbar {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h1 {
  color: #1d1f29;
  font-size: 24px;
}

/* MODO OSCURO */
body.dark h1 {
  color: #fff;
}

.titulo p {
  font-size: 14px;
  font-weight: 700;
  color: #63687d;
  transform: translatey(-1rem);
}

body.dark .titulo p {
  color: #8c98c6;
}

.navbar .divider {
  width: 326px;
  height: 2px;
  background-color: #333a55;
}
.toggle {
  margin-top: 19px;
}

.toggle span {
  font-size: 14px;
  font-weight: 700;
  color: #63687d;
}

body.dark .toggle span {
  color: #8c98c6;
}
.navbar .divider {
  background: #848bab;
}

body.dark .navbar .divider {
  background: #848bab;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch {
  position: relative;
  width: 48px;
  height: 24px;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}

.slider {
  background: #aeb3cb;
}

/* Fondo del toggle en dark */
body.dark .slider {
  background: linear-gradient(to right, #378fe6, #3eda82);
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 3px;
  top: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

body.dark h1 {
  color: #fff;
}

/* La bolita se mueve AL DERECHA solo cuando NO está activado */
input:not(:checked) + .slider::before {
  transform: translateX(24px);
}
